// Include parts of Bootstrap 
// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
// Optional
// @import "node_modules/bootstrap/scss/reboot";
// @import "node_modules/bootstrap/scss/type";
// @import "node_modules/bootstrap/scss/images";
// @import "node_modules/bootstrap/scss/code";
// @import "node_modules/bootstrap/scss/grid";


/* overrides all *-primary */
$theme-colors: (
     "primary": #FF69B4
);

@import "node_modules/bootstrap/scss/bootstrap";
¬
body {
    color: black;
    background: #fff;
}

// div, span, p {
//     border: 1px solid black;
// }

.btn-static {
    background-color: #cd5921;
    border: 1px solid lightgrey;
    cursor: default;
    border-radius: 50em;
    color: white;
    font-size: 0.8rem;
  }
  .btn-static:active {
    -moz-box-shadow:    inset 0 0 0px white;
    -webkit-box-shadow: inset 0 0 0px white;
    box-shadow:         inset 0 0 0px white;
  }