// Include parts of Bootstrap 
// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
// Optional
// @import "node_modules/bootstrap/scss/reboot";
// @import "node_modules/bootstrap/scss/type";
// @import "node_modules/bootstrap/scss/images";
// @import "node_modules/bootstrap/scss/code";
// @import "node_modules/bootstrap/scss/grid";


/* overrides all *-primary */
$theme-colors: (
     "primary": #FF69B4
);

@import "node_modules/bootstrap/scss/bootstrap";
¬
body {
    color: black;
    background: #fff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
 font-weight: 700;
}


.badge-warning{
  background-color: #cd5921;
  border: 1px solid lightgrey;
  color: white;
  font-size: 0.8rem;
}


// custom button 
// .btn-static {
//   background-color: #cd5921;
//   border: 1px solid lightgrey;
//   cursor: default;
//   border-radius: 50em;
//   color: white;
//   font-size: 0.8rem;
// }
